* {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(227, 193, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logopic {
    height: 100px;
    width: 200px;
}

#logo2pic {
    height: 75px;
    width: 150px;
}

nav {

    background-color: rgb(227, 193, 0);
    height: auto;
    width: auto;
    align-items: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ulnav {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

.linav {
    margin: 0.2em;
    padding: 0.5em;
}

.ulsocials {
    list-style-type: none;
    background-color: rgb(227, 193, 0);
    height: auto;
    width: auto;
    margin: 20px 0;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lisocials {
    margin: 0.5em;
    padding: 0.2em;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s linear;
}

a:hover {
    color: #3a6088;
}

main {
    background-color: #3a6088;
    height: 100%;
    width: auto;
    padding: 50px 150px;
}

.titlecontainer {
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 3em 0;
}

.title {
    display: grid;
    grid-template-columns: repeat(7, 6fr);
    align-items: center;
    column-gap: 1rem;
    text-align: center;
}


.title::before,
.title::after {
    content: "";
    background-color: white;
    height: 1px;
    display: block;
}

.title::before {
    grid-column: 1 / 4;
}

.title::after {
    grid-column: 5 / 8;
}

.recepten {
    background-color: #3a6088;
    height: auto;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recept {
    background-color: white;
    height: 400px;
    width: 350px;
    padding: 0;
    margin: 5px;
    transition: 0.1s;
    border-radius: 12px;
    position: relative;

}

.recept:hover {
    /* box-shadow: 3px 4px 15px 1px #d4d4d4; */
    transform: scale(1.01);
    transition: 0.1s;
}

.receptImage {
    width: 350px;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.koknaam {
    padding: 0.3em;
    height: 22px;
    width: auto;
    position: absolute;
    background-color: white;
    top: 169px;
    left: 0;
    border-top-right-radius: 10px;
    color: rgb(227, 193, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.receptDetails {
    margin: 5px;
    padding: 0 3px;
}

.receptdetailstitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #283d54;
}

.receptdetailstitle:hover {
    color: rgb(227, 193, 0);
}

.receptDetailsarticle {
    max-width: 322px;
    max-height: 53px;
    margin: 3em 0 1em;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.receptDetails p {
    /*i have a question here*/
    margin-top: 30px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(227, 193, 0);
}

footer {
    background-color: rgb(227, 193, 0);
    color: white;
    margin: 0cm;
    padding: 2em 10em;
    height: auto;
    width: auto;
}

.ulfooter {
    list-style-type: none;
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

.lifooter {
    list-style-type: none;
    margin: 3px 0;
    padding: 2px;
    font-size: 14px;
    position: relative;
}

#logofooter {
    height: 100px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footerdetails {
    margin: 0.5em;
    padding: 0.5em;
    color: #3a6088;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.footerdetails h1 {
    font-size: 22px;
    margin: 0.5em;

}