* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(227, 193, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logopic {
    height: 100px;
    width: 200px;
}

#logo2pic {
    height: 75px;
    width: 150px;
}

nav {

    background-color: rgb(227, 193, 0);
    height: auto;
    width: auto;
    align-items: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ulnav {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 700;

}

.linav {
    margin: 0.2em;
    padding: 0.5em;
}

.ulsocials {
    list-style-type: none;
    background-color: rgb(227, 193, 0);
    height: auto;
    width: auto;
    margin: 20px 0;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lisocials {
    margin: 0.5em;
    padding: 0.2em;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s linear;
}

a:hover {
    color: #3a6088;
}

main {
    background-color: #3a6088;
    height: 100%;
    width: auto;
    padding: 0;
}

.top {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: aliceblue;
}

#image1 {
    width: 50%;
    height: 650px;
}

.topdetails {
    padding: 5em 2em;
    min-width: 50%;
    height: 650px;
    font-size: 26px;
    background-color: #3a6088;
    color: white;
}

.receptnaam {
    min-height: 70%;
    padding: 4em 0;
    width: auto;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 20px;
}

.extradetails {
    background-color: #283d54;
    border-radius: 12px;
    width: 100%;
    min-height: 30%;
    display: flex;
    justify-content: space-around;
}

.preptime{
    margin: auto;
    text-align: center;
}

.preptime p {
    font-size: 14px;
}

.preptime h1 {
    font-size: 36px;
}

.cooktime{
    margin: auto;
    text-align: center;
}

.cooktime p {
    font-size: 14px;
}

.cooktime h1 {
    font-size: 36px;
}

.serves{
    margin: auto;
    text-align: center;
}

.serves p {
    font-size: 14px;
}

.serves h1 {
    font-size: 36px;
}


.omschrijving {
    width: 100%;
    height: 100px;
    background-color: black;
}




footer {
    background-color: rgb(227, 193, 0);
    color: white;
    margin: 0cm;
    padding: 2em 10em;
    height: auto;
    width: auto;
}

.ulfooter {
    list-style-type: none;
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 700;

}

.lifooter {
    list-style-type: none;
    margin: 3px 0;
    padding: 2px;
    font-size: 14px;
    position: relative;
}

#logofooter {
    height: 100px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footerdetails {
    margin: 0.5em;
    padding: 0.5em;
    color: #3a6088;
    text-align: center;

}

.footerdetails h1 {
    font-size: 22px;
    margin: 0.5em;

}