/* whole page */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*pages header */
header {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: rgb(227, 193, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* logos */
#logopic {
    height: 100px;
    width: 200px;
}

#logo2pic {
    height: 75px;
    width: 150px;
}

/* navigation bar */

nav {

    background-color: rgb(227, 193, 0);
    height: auto;
    width: auto;
    align-items: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ulnav {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

.linav {
    margin: 0.2em;
    padding: 0.5em;
}

/* socials nav */
.ulsocials {
    list-style-type: none;
    background-color: rgb(227, 193, 0);
    height: auto;
    width: auto;
    margin: 20px 0;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lisocials {
    margin: 0.5em;
    padding: 0.2em;
}

/*links styling*/

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s linear;
}

a:hover {
    color: #3a6088;
}

/*pages title */

.titlecontainer {
    color: white;
    background-color: #3a6088;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 3em 0;
}

.title {
    display: grid;
    grid-template-columns: repeat(7, 6fr);
    align-items: center;
    column-gap: 1rem;
    text-align: center;
}


.title::before,
.title::after {
    content: "";
    background-color: white;
    height: 1px;
    display: block;
}

.title::before {
    grid-column: 1 / 4;
}

.title::after {
    grid-column: 5 / 8;
}

/*Home page*/

.main0 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)), url(hompage.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.homepageTitle {
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: auto;
    font-size: 26px;
}

/* recipes page */
.main1 {
    background-color: #3a6088;
    height: auto;
    width: auto;
    padding: 50px 150px;
}

/* specials button */
.specialsButton {
    display: inline-block;
    background-color: rgb(227, 193, 0);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.specialsButton:hover {
    background-color: #283d54;
    color: white;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

/* form css */

form {
    background-color: #3a6088;
}

/* recipes container */

.recepten {
    background-color: #3a6088;
    height: auto;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* recipe box and details */

.recept {
    background-color: white;
    height: 400px;
    width: 350px;
    padding: 0;
    margin: 15px;
    transition: 0.1s;
    border-radius: 12px;
    position: relative;

}

.recept:hover {
    transform: scale(1.01);
    transition: 0.1s;
}

.receptImage {
    width: 350px;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.koknaam {
    padding: 0.3em;
    height: 22px;
    width: auto;
    position: absolute;
    background-color: white;
    top: 180px;
    left: 0;
    border-top-right-radius: 10px;
    color: rgb(227, 193, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.receptDetails {
    margin: 5px;
    padding: 0 3px;
}

.receptdetailstitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #283d54;
}

.receptdetailstitle:hover {
    color: rgb(227, 193, 0);
}

.receptDetailsarticle {
    max-width: 322px;
    max-height: 53px;
    margin: 3em 0 1em;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.receptDetails p {
    position: absolute;
    bottom: 15px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(227, 193, 0);
}

/*footer*/

footer {
    background-color: rgb(227, 193, 0);
    color: white;
    margin: 0cm;
    padding: 2em 10em;
    height: auto;
    width: auto;
}

/*footer nav*/

.ulfooter {
    list-style-type: none;
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

.lifooter {
    list-style-type: none;
    margin: 3px 0;
    padding: 2px;
    font-size: 14px;
    position: relative;
}

/*footer details */

#logofooter {
    height: 100px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footerdetails {
    margin: 0.5em;
    padding: 0.5em;
    color: #3a6088;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.footerdetails h1 {
    font-size: 22px;
    margin: 0.5em;

}

/*details page*/

.main2 {
    background-color: #3a6088;
    height: auto;
    width: auto;
    padding: 0;
}

.top {
    height: auto;
    width: 100%;
    display: flex;
    background-color: aliceblue;
}

#image1 {
    width: 50%;
    height: 650px;
}

.topdetails {
    padding: 5em 2em;
    min-width: 50%;
    height: 650px;
    font-size: 26px;
    background-color: #3a6088;
    color: white;
}

.receptnaam {
    min-height: 70%;
    padding: 4em 0;
    width: auto;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 20px;
}

.extradetails {
    background-color: #283d54;
    border-radius: 12px;
    width: 100%;
    min-height: 30%;
    display: flex;
    justify-content: space-around;
}

.preptime {
    margin: auto;
    text-align: center;
}

.preptime p {
    font-size: 14px;
}

.preptime h1 {
    font-size: 36px;
}

.cooktime {
    margin: auto;
    text-align: center;
}

.cooktime p {
    font-size: 14px;
}

.cooktime h1 {
    font-size: 36px;
}

.serves {
    margin: auto;
    text-align: center;
}

.serves p {
    font-size: 14px;
}

.serves h1 {
    font-size: 36px;
}


.omschrijving {
    width: 100%;
    height: auto;
    color: #3a6088;
    background-color: white;
    line-height: 25px;
    padding: 10vh 20vh;
}

.ingredienten {
    width: 100%;
    height: auto;
    color: white;
    background-color: #3a6088;
    line-height: 25px;
    padding: 10vh 20vh;
}

.ingredienten h1 {
    color: rgb(227, 193, 0);
    border-bottom: solid 3px rgb(227, 193, 0);
    font-size: 30px;
    padding: 10px;
    margin-bottom: 5vh;
}

.instructies {
    width: 100%;
    height: auto;
    color: #3a6088;
    background-color: white;
    line-height: 25px;
    padding: 10vh 20vh;
}

.instructies h1 {
    color: rgb(227, 193, 0);
    border-bottom: solid 3px rgb(227, 193, 0);
    font-size: 30px;
    padding: 10px;
    margin-bottom: 5vh;
}

/* inloggen button */
.inloggenButton {
    display: inline-block;
    background-color: #283d54;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 25px;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.inloggenButton:hover {
    color: rgb(248, 234, 156);
    transition: 0.2s ease-out, color 0.2s ease-out;
}

/* registration / logging in */


.regislink {
    font-size: 12px;
    text-decoration: none;
    color: white;
    transition: all 0.3s linear;
}

.regislink:hover {
    color: rgb(227, 193, 0);
}

.regismain {
    width: 100%;
    background-color: #283d54;
    padding: 100px;
}

.regiscontainer {
    width: 60%;
    border-radius: 20px;
}

.regisform {
    background-color: #3a6088;
    padding: 20px;
    border-radius: 20px;
    margin-top: auto;
    margin-right: auto;
}

.inloggensul {
    list-style: none;
    margin: 5px;
}


.regisul {
    list-style: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.regisli {
    margin: 10px;
}

input {
    appearance: none;
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    margin-top: 6px;
    font-size: 1.1em;
}

label {
    font-size: 0.6em;
    color: rgb(227, 193, 0);
    padding-left: 16px;
    text-transform: uppercase;
}

input:focus {
    background-color: white;
    color: black;
}

button {
    appearance: none;
    border: 1px solid transparent;
    padding: 10px 16px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(227, 193, 0);
}

button:hover {
    border: 1px solid black;
    cursor: pointer;
}

/*error*/
.error {
    background-color: #ce6565;
    color: white;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

/*dashheader*/

.dashheader{
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: auto;
    font-size: 50px;
}

/*dashboard*/

.dashbody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)), url(hompage.jpg);
    background-position: center;
    background-size: cover;
    height: 41em;
    width: auto;
    text-align: center;
    padding: 16em;
}

/* dash buttons*/

.dashButton {
    display: inline-block;
    background-color: rgb(227, 193, 0);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.dashButton:hover {
    background-color: #283d54;
    color: white;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}